*{
    padding: 0;
    margin: 0;
}
body{

    background-color: #7EA8BE;
}
header{
    background-color: #28536B;
    color: #F6F0ED;
    text-align: center;
    font-size: larger;
}
main{
    height: 60vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.buttons{
    height: 200px;
    width: 200px;
    border: none;
    border-radius: 50%;
}
.box{
    text-align: center;
}
footer{
    text-align: center;
    color: #F6F0ED;
}